<?xml version="1.0"?>
<robot name="open_manipulator_srt" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find open_manipulator_srt_description)/urdf/open_manipulator_srt.xacro" />
  <xacro:include filename="$(find open_manipulator_srt_description)/urdf/open_manipulator_srt.ros2_control.xacro" />

  <link name="world"/>

  <xacro:open_manipulator_srt parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:open_manipulator_srt>

  <xacro:open_manipulator_srt_ros2_control name="open_manipulator_srt_ros2_control" />
</robot>
